<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke_puff_01</key>
            <dict>
                <key>frame</key>
                <string>{{314,1774},{294,248}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,233},{294,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_02</key>
            <dict>
                <key>frame</key>
                <string>{{314,1454},{306,318}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,160},{306,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{336,424}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,63},{336,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_04</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{378,460}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,21},{378,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,460}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,12},{398,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_06</key>
            <dict>
                <key>frame</key>
                <string>{{464,382},{388,440}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,13},{388,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{378,414}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,13},{378,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_08</key>
            <dict>
                <key>frame</key>
                <string>{{418,772},{356,400}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,11},{356,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{332,382}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,17},{332,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_puff_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{310,366}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,23},{310,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smoke_puff.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfcfb57405a847aaf9f9d67b46f27634:61da77e57987c568de53c6cf03bfe24c:06c667c49ead0a6812fd2cc1d6b11927$</string>
            <key>textureFileName</key>
            <string>smoke_puff.png</string>
        </dict>
    </dict>
</plist>
