<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke_plume_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1714},{232,220}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,129},{232,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{316,304}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,82},{316,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1306},{386,378}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,50},{386,378}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{430,430}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{430,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,442},{436,430}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,21},{436,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{438,438}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{438,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,440}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,29},{430,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,874},{434,430}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{434,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{436,424}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,49},{436,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_plume_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{438,420}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{438,420}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smoke_plume.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d2b041ce3fc9c000c87389911bd37c:f87aff1a69f1084132d8787ba682371d:601ebe9f8bc67d0bcfc5913f1e2db9c2$</string>
            <key>textureFileName</key>
            <string>smoke_plume.png</string>
        </dict>
    </dict>
</plist>
