<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>larais_planet_00</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_01</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_02</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_03</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_05</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_06</key>
            <dict>
                <key>frame</key>
                <string>{{218,108},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_07</key>
            <dict>
                <key>frame</key>
                <string>{{326,108},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_08</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_09</key>
            <dict>
                <key>frame</key>
                <string>{{110,214},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_10</key>
            <dict>
                <key>frame</key>
                <string>{{218,214},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_11</key>
            <dict>
                <key>frame</key>
                <string>{{326,214},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_13</key>
            <dict>
                <key>frame</key>
                <string>{{110,320},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_14</key>
            <dict>
                <key>frame</key>
                <string>{{218,320},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_15</key>
            <dict>
                <key>frame</key>
                <string>{{326,320},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_17</key>
            <dict>
                <key>frame</key>
                <string>{{110,426},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_18</key>
            <dict>
                <key>frame</key>
                <string>{{218,426},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_19</key>
            <dict>
                <key>frame</key>
                <string>{{326,426},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>larais_planet_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>larais_planet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67f1c6a392b632a96465be832c4a28bb:0ed60cc93ea82bd42c18bce34fd9a010:6a3f3e0b30893c745aa66eb8e1b12826$</string>
            <key>textureFileName</key>
            <string>larais_planet.png</string>
        </dict>
    </dict>
</plist>
