<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke_right_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{288,414}}</string>
                <key>offset</key>
                <string>{-70,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{288,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_02</key>
            <dict>
                <key>frame</key>
                <string>{{446,1210},{400,414}}</string>
                <key>offset</key>
                <string>{-36,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,34},{400,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_03</key>
            <dict>
                <key>frame</key>
                <string>{{478,406},{464,416}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{464,416}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,414}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{474,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_05</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{472,402}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{472,402}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{464,400}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{464,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_07</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{442,404}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{442,404}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_08</key>
            <dict>
                <key>frame</key>
                <string>{{446,824},{430,384}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{430,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_09</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{300,258}}</string>
                <key>offset</key>
                <string>{56,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,65},{300,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_right_10</key>
            <dict>
                <key>frame</key>
                <string>{{292,1612},{286,208}}</string>
                <key>offset</key>
                <string>{59,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,104},{286,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smoke_right.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5b582d9b6b6683fd4d1949f3cf5ca97:d12f3c088442b037fc9c783c7c88a933:e38c4bf0b91d8ed145a2266bb1f54b87$</string>
            <key>textureFileName</key>
            <string>smoke_right.png</string>
        </dict>
    </dict>
</plist>
